<?xml version="1.0"?>
<config>
    <modules>
        <MagenThemes_MTBrave>
            <version>2.0.3</version>
        </MagenThemes_MTBrave>
    </modules>
    <frontend>
        <routers>
            <mtbrave>
                <use>standard</use>
                <args>
                    <module>MagenThemes_MTBrave</module>
                    <frontName>mtbrave</frontName>
                </args>
            </mtbrave>
        </routers>
        <layout>
            <updates>
                <mtbrave>
                    <file>mtbrave.xml</file>
                </mtbrave>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
	       <mtbrave>
				<use>admin</use>
				<args>
				    <module>MagenThemes_MTBrave</module>
				    <frontName>mtbrave</frontName>
				</args>
	       </mtbrave>
        </routers>
    </admin>
    <adminhtml>
		<layout>
		    <updates>
			<mtbrave>
			    <file>mtbrave.xml</file>
			</mtbrave>
		    </updates>
		</layout>
        <events>
            <controller_action_postdispatch_adminhtml_system_config_save>
                <observers>
                    <mtbrave>
                        <type>singleton</type>
                        <class>mtbrave/observer</class>
                        <method>configSave</method>
                    </mtbrave>
                </observers>
            </controller_action_postdispatch_adminhtml_system_config_save>
            <store_edit>
                <observers>
                    <mtbrave>
                        <type>singleton</type>
                        <class>mtbrave/observer</class>
                        <method>storeEdit</method>
                    </mtbrave>
                </observers>
            </store_edit>
        </events>
    </adminhtml>   
    <global>
        <models>
            <mtbrave>
                <class>MagenThemes_MTBrave_Model</class>
            </mtbrave>
            <core>
                <rewrite>
                    <layout>MagenThemes_MTTheme_Model_System_Layout_Layout</layout>
                </rewrite>
            </core>
        </models>
        <blocks>
            <mtbrave>
                <class>MagenThemes_MTBrave_Block</class>
            </mtbrave>
        </blocks>
        <helpers>
            <mtbrave>
                <class>MagenThemes_MTBrave_Helper</class>
            </mtbrave>
        </helpers>
    </global>
    <default>
        <mtbrave>
            <header>
                <hide_on_mobile>0</hide_on_mobile>
            </header>
            <menu>
                <effect>slide</effect>
                <home>1</home>
                <enable_custom>1</enable_custom>
                <static_identifier>custom_menu</static_identifier>
                <show_if_no_children>0</show_if_no_children>
                <label1>New</label1>
                <label2>Hot!</label2>
                <url_key>about-magento-demo-store</url_key>
                <static_identifier>custom_menu</static_identifier>
            </menu>
            <category>
                <aspect_ratio>0</aspect_ratio>
                <alt_image>1</alt_image>
                <alt_image_column>label</alt_image_column>
                <alt_image_column_value>2</alt_image_column_value>
                <image_width>246</image_width>
                <image_height>246</image_height>
            </category>
            <category_grid>
                <column_count>3</column_count>
                <equal_height>1</equal_height>
                <hover_effect>1</hover_effect>
                <display_rating>2</display_rating>
                <display_addtocart>2</display_addtocart>
                <display_addtolinks>2</display_addtolinks>
                <addtolinks_simple>1</addtolinks_simple>
            </category_grid>
            <category_list>
                <hover_effect>0</hover_effect>
                <addtolinks_simple>1</addtolinks_simple>
            </category_list>
            <product_page> 
                <replace_upsell>1</replace_upsell>
                <upsell_hover_slider>1</upsell_hover_slider>
                <upsell_count>4</upsell_count>
                <replace_related>1</replace_related>
                <related_hover_slider>1</related_hover_slider>
                <related_count>4</related_count>
                <layout>default</layout>
            </product_page>
            <product_labels>
                <new>1</new>
                <sale>1</sale>
            </product_labels>
            <footer>
                <links_column_auto_width>1</links_column_auto_width>
            </footer>
            <product_slider>
                <timeout>0</timeout>
                <speed>400</speed>
                <move_items>0</move_items>
            </product_slider>
            <magento_blocks>
                <top_links>1</top_links>
                <footer_newsletter>1</footer_newsletter>
                <related_products_checkbox>1</related_products_checkbox>
            </magento_blocks>
            <sidebar_blocks_home>
                <compare>1</compare>
                <compared>1</compared>
                <viewed>1</viewed>
                <wishlist>1</wishlist>
                <poll>1</poll>
                <tags>1</tags>
                <paypal>1</paypal>
            </sidebar_blocks_home>
            <install>
                <overwrite_blocks>0</overwrite_blocks>
                <overwrite_pages>0</overwrite_pages>
            </install>
            <customization>
                <custom_css>0</custom_css>
            </customization>
        </mtbrave>
        <mtbrave_design>
            <colors>
                <text_color>#666666</text_color>
                <link_color>#3f3f3f</link_color>
                <link_hover_color>#159ae4</link_hover_color>
                <heading_block_title_color>#2b2b2b</heading_block_title_color>
                <button_bg_color>#373737</button_bg_color>
                <button_color>#ffffff</button_color>
                <button_hover_bg_color>#109ddf</button_hover_bg_color>
                <button_hover_color>#ffffff</button_hover_color>
                <button_active_bg_color>#109ddf</button_active_bg_color>
                <button_active_color>#ffffff</button_active_color>
                <button_addcart_bg_color>#f29e00</button_addcart_bg_color>
                <button_addcart_text_color>#ffffff</button_addcart_text_color>
                <button_wishlist_bg_color>#3fcb65</button_wishlist_bg_color>
                <button_wishlist_text_color>#ffffff</button_wishlist_text_color>
                <button_compare_bg_color>#c476f0</button_compare_bg_color>
                <button_compare_text_color>#ffffff</button_compare_text_color>
                <tool_icon_bg_color>#109ddf</tool_icon_bg_color>
                <tool_icon_hover_bg_color>#c9c9c9</tool_icon_hover_bg_color>
                <tool_icon_active_bg_color>#c9c9c9</tool_icon_active_bg_color>
                <icon_bg_color>#109ddf</icon_bg_color>
                <icon_hover_bg_color>#c9c9c9</icon_hover_bg_color>
                <social_icon_bg_color>#888888</social_icon_bg_color>
                <social_icon_hover_bg_color>#333333</social_icon_hover_bg_color>
                <important_link_hover_color>#ffffff</important_link_hover_color>
                <important_link_hover_bg_color>#333333</important_link_hover_bg_color>
                <label_new_bg_color>#109ddf</label_new_bg_color>
                <label_new_color>#ffffff</label_new_color>
                <label_sale_bg_color>#f12b63</label_sale_bg_color>
                <label_sale_color>#ffffff</label_sale_color>
                <price_color>#f90000</price_color>
                <price_color_details>#109ddf</price_color_details>
            </colors>
            <font>
                <font_size>13px</font_size>
                <primary_font_family_group>google</primary_font_family_group>
                <primary_font_family_custom>Arial, "Helvetica Neue", Helvetica, sans-serif</primary_font_family_custom>
                <primary_font_family>Open Sans</primary_font_family>
                <primary_char_latin_ext>0</primary_char_latin_ext>
            </font>
            <effects>
                <shadow>0</shadow>
            </effects>
            <page>
                <bg_color>#ffffff</bg_color>
                <bg_image>none</bg_image>
                <bg_repeat>repeat</bg_repeat>
                <bg_attachment>scroll</bg_attachment>
                <bg_positionx>center</bg_positionx>
                <bg_positiony>top</bg_positiony>
                <patterns>none</patterns>
            </page>
            <header>
                <bg_color>#ffffff</bg_color>
                <patterns>none</patterns>
                <inner_bg_color>#ffffff</inner_bg_color>
                <color>#666666</color>
                <link_color>#ffffff</link_color>
                <link_hover_color>#ffffff</link_hover_color>
                <bg_color_link_account>#149ae4</bg_color_link_account>
                <bg_color_link_wishlist>#2dbb9a</bg_color_link_wishlist>
                <bg_color_link_checkout>#3fcb65</bg_color_link_checkout>
                <bg_color_link_login>#f29e00</bg_color_link_login>
                <bg_color_link_logout>#f29e00</bg_color_link_logout>
                <bg_color_link_cart>#c476f0</bg_color_link_cart>
                <bg_color_currency>#5d88ec</bg_color_currency>
                <bg_color_language>#e66c69</bg_color_language>
                <search_color>#a1a1a1</search_color>
                <search_hover_color>#a1a1a1</search_hover_color>
                <search_border_color>#dddddd</search_border_color>
                <search_border_hover_color>#dddddd</search_border_hover_color>
                <dropdown_bg_color>#ffffff</dropdown_bg_color>
                <dropdown_color>#333333</dropdown_color>
                <dropdown_link_color>#333333</dropdown_link_color>
                <dropdown_link_hover_color>#00a9c7</dropdown_link_hover_color>
            </header>
            <nav>
                <inner_bg_color>#f1f1f2</inner_bg_color>
                <stretched>1</stretched>
                <border>1</border>
                <font_size>18</font_size>
                <font_uppercase>0</font_uppercase>
                <bg_color>transparent</bg_color>
                <color>#454444</color>
                <hover_bg_color>#149ae4</hover_bg_color>
                <hover_color>#ffffff</hover_color>
                <active_bg_color>#149ae4</active_bg_color>
                <active_color>#ffffff</active_color>

                <heading_title_color>#ffffff</heading_title_color>
                <smart_text_color>#ffffff</smart_text_color>
                <smart_link_color>#ffffff</smart_link_color>
                <smart_link_hover_color>#454444</smart_link_hover_color>

                <drill_bg>#f1f1f2</drill_bg>
                <drill_bg_item>#f5f5f5</drill_bg_item>
                <drill_bg_hover_item>#17a7ea</drill_bg_hover_item>
                <drill_bg_actice_item>#333333</drill_bg_actice_item>
                <drill_menu_color>#474646</drill_menu_color>
                <drill_menu_link_color>#474646</drill_menu_link_color>
                <drill_menu_link_color_hover>#FFFFFF</drill_menu_link_color_hover>

                <dropdown_bg_color>#ffffff</dropdown_bg_color>
                <dropdown_color>#454444</dropdown_color>
                <dropdown_color_groups>#000000</dropdown_color_groups>
                <dropdown_link_color>#777777</dropdown_link_color>
                <dropdown_link_hover_color>#000000</dropdown_link_hover_color>
                <label_bg_color>#2dbb9a</label_bg_color>
                <label_color>#ffffff</label_color>
                <label_bg_color2>#ff602a</label_bg_color2>
                <label_color2>#ffffff</label_color2>
                <label_hover_bg_color>#555555</label_hover_bg_color>
                <label_hover_color>#ffffff</label_hover_color>
            </nav>
            <main>
                <bg_color>transparent</bg_color>
                <patterns>none</patterns>
                <inner_bg_color>#fff</inner_bg_color>
            </main>
            <product_page>
                <addto_icon_bg_color>#aaa</addto_icon_bg_color>
                <addto_icon_hover_bg_color>#333</addto_icon_hover_bg_color>
                <tab_inner_bg_color>transparent</tab_inner_bg_color>
                <tab_bg_color>#373737</tab_bg_color>
                <tab_color>#ffffff</tab_color>
                <tab_hover_bg_color>#109ddf</tab_hover_bg_color>
                <tab_hover_color>#ffffff</tab_hover_color>
                <tab_active_bg_color>#109ddf</tab_active_bg_color>
                <tab_active_color>#ffffff</tab_active_color>
                <tab_panel_bg_color>#ffffff</tab_panel_bg_color>

                <block_title_product_page>#353535</block_title_product_page>
                <block_color_product_page>#109ddf</block_color_product_page>
                <block_link_product_page>#ffffff</block_link_product_page>
                <block_link_hover_product_page>#ffffff</block_link_hover_product_page>

            </product_page>
            <footer>
                <bg_color>#34495e</bg_color>
                <patterns>none</patterns>
                <inner_bg_color>transparent</inner_bg_color>
                <color>#ffffff</color>
                <link_color>#ffffff</link_color>
                <link_hover_color>#14293f</link_hover_color>
                <title_static_color>#ffffff</title_static_color>
                <button_bg_color>#fcac00</button_bg_color>
                <button_color>#ffffff</button_color>
                <button_hover_bg_color>#ff5920</button_hover_bg_color>
                <button_hover_color>#ffffff</button_hover_color>
                <input_text_bg_color>#24384c</input_text_bg_color>

                <link_icon_facebook_bg_color>#24384c</link_icon_facebook_bg_color>
                <link_icon_facebook_bg_color_hover>#44ccf6</link_icon_facebook_bg_color_hover>
                <link_icon_twitter_bg_color>#24384c</link_icon_twitter_bg_color>
                <link_icon_twitter_bg_color_hover>#3b5998</link_icon_twitter_bg_color_hover>
                <link_icon_youtube_bg_color>#24384c</link_icon_youtube_bg_color>
                <link_icon_youtube_bg_color_hover>#ce332d</link_icon_youtube_bg_color_hover>
                <link_icon_mail_bg_color>#24384c</link_icon_mail_bg_color>
                <link_icon_mail_bg_color_hover>#d13f2d</link_icon_mail_bg_color_hover>
                <link_icon_prinrest_bg_color>#24384c</link_icon_prinrest_bg_color>
                <link_icon_prinrest_bg_color_hover>#cb2027</link_icon_prinrest_bg_color_hover>
            </footer>
        </mtbrave_design>
        <mtbrave_layout>
            <responsive>
                <responsive>1</responsive>
                <fluid_width>1</fluid_width>
            </responsive>
        </mtbrave_layout>
    </default>
</config>