.mt-navigation {
    position: relative;
    z-index: 99;
}
#mtnav {
    height: 60px;
    margin: 0;
    padding: 0;
    position: relative;
    z-index: 2;
    width: auto;
}
#mtnav li {
    float: left;
    height: 60px;
    padding: 0;
    text-align: left;
    transition: all 0.3s all 0.3s;
    -webkit-transition: all 0.3s all 0.3s;
}
#mtnav li.menu-item-right {
    float: right;
}
#mtnav li.level0 {
    display: block;
    line-height: 60px;
}
#mtnav li.level0.home a{
    text-indent: -999em;
    background: url("../images/bg-nav-home.png") no-repeat center center;
    padding: 0 39px;
}
#mtnav a {
    outline: medium none;
    outline: none;
    padding: 0 20px;
    text-decoration: none;
    transition: color 450ms ease-in-out 0s, background-color 450ms ease-in-out 0s;
    -webkit-transition: color 450ms ease-in-out 0s, background-color 450ms ease-in-out 0s;
}
#mtnav a, #mtnav a:hover {
    display: block;
    outline: none;
    text-decoration: none;
}
#mtnav span {
    cursor: pointer;
    display: block;
    white-space: nowrap;
}
#mtnav li.active a.level-top {
    outline: none;
}
#mtnav a, #megamenu a, #mtnav li.level0 a {
    position: relative;
}
/*Label category*/
li.level0 > a > span > .cat-label {
    position: absolute;
    top: -14px;
    right: 0;
    padding: 0 6px;
    font-size: 14px;
    line-height: 22px;
}
.cat-label-label1 {
    color: #ffffff;
}
.cat-label-label2 {
    color: #ffffff;
}
li.level1 > a > span > .cat-label {
    display: block !important;
    float: right;
    margin-left: 5px;
    margin-top: -5px;
    padding: 0 4px;
    vertical-align: top;
}
li.level0 > a > span > .pin-bottom:before {
    position: absolute;
    right: 6px;
    top: 22px;
    width: 0;
    height: 0;
    content: "";
    border-style: solid;
    border-width: 4px;
    border-color: transparent;
    transition: border-color 450ms ease-in-out;
}
.cat-label {
    padding: 2px 4px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    line-height: 18px;
    text-transform: none;
    transition: color 450ms ease-in-out, background-color 450ms ease-in-out;
    -moz-transition: color 450ms ease-in-out, background-color 450ms ease-in-out;
    -webkit-transition: color 450ms ease-in-out, background-color 450ms ease-in-out;
    -o-transition: color 450ms ease-in-out, background-color 450ms ease-in-out;
}
/*dropdown mega*/

#mtnav li ul.shown-sub, #mtnav li div.shown-sub {
    -webkit-box-shadow: 1px 6px 7px 0 rgba(0, 0, 0, 0.15);
    border: 0;
    box-shadow: 1px 6px 7px 0 rgba(0, 0, 0, 0.15);
    left: 0;
    outline: none;
    width: 100%;
    z-index: 999;
}
div.shown-sub {
    -webkit-box-shadow: 1px 6px 7px 0 rgba(0, 0, 0, 0.15);
    border: 0;
    box-shadow: 1px 6px 7px 0 rgba(0, 0, 0, 0.15);
    left: 0;
    outline: none;
    width: 100%;
    z-index: 9;
}
#mtnav .sub-wrapper {
    border-top: 3px solid #FFFFFF;
    display: none;
    left: -10000px;
    position: absolute;
    top: 60px;
    width: 100%;
}
#mtnav .sub-wrapper .mm-item-base {
    border: 0;
    padding: 15px 20px;
}
#mtnav li.level0 ul li {
    height: auto;
}
#mtnav .sub-wrapper ul {
    border: none;
    margin: 0px;
    padding: 0px;
    position: static;
    width: auto;
}
#mtnav ul.level0 li {
    float: left;
    outline: none;
    position: relative;
}
#mtnav ul.level0 li span{
    background-image: url("../images/dot.png");
    background-repeat: no-repeat;
    background-position: left 10px;
    padding: 5px 0 5px 10px;
    display: inline-block;
}
#mtnav ul.level0 li span.cat-label{ background-image: none; padding: 0 3px; }
#mtnav ul.level0 li.parent{
    background: url("../images/bg-arrow-right.png") no-repeat right 10px;
}
#mtnav ul.level0 li.groups{
    background: none;
    margin-bottom: 30px;
    padding-left: 0;
}
#mtnav ul li, #mtnav ul li.active {
    background: none;
    padding: 0;
}
#mtnav li.level0 ul li ol {
    margin: 0 0 0 5px;
}
#mtnav li ul span {
    white-space: normal;
}
#mtnav li.level0 ul li a {
    -webkit-transition: all 0.2s ease-out 0s;
    border: 0 none;
    font-weight: 400;
    font-size: 100%;
    line-height: normal;
    outline: medium none;
    padding: 0;
    text-transform: none;
    transition: all 0.2s ease-out 0s;
}
#mtnav li.level0 ul li a span.title_group {
    font-size: 110%;
    padding: 0 0 7px;
    text-transform: uppercase;
    background: none;
}
#mtnav ul li ul.level1 li, #mtnav ul li ul.level2 li {
    border: 0;
    margin: 0;
    width: 100%;
}
#mtnav li .shown-sub li div.shown-sub {
    left: 73%;
    top: 5px;
    width: 124%;
}
/*Dropdown classic*/
#mtnav li.m-dropdown {
    position: relative;
}
#mtnav .dropdown ul.level0  li{ width: 100% }
#mtnav li.m-dropdown .dropdown.sub-wrapper { width: 260px; max-width:290px }

/*Block html*/
.mtmenu-block-level1-top {
    margin-bottom: 10px;
}
.mtmenu-block-level1-bottom {
    margin-bottom: 10px;
}
#mtnav li.level0.custom-block .sub-wrapper a{ padding: 0 }
.mtmenu-block, #mtnav li.level0.custom-block .sub-wrapper{ line-height: normal }
.menu-static-blocks img{ max-width: 100% }
.mtmenu-block-bottom{ border-top: 1px solid #fff; margin-top: 20px }
.mtmenu-block-bottom a{ float: left }

.mtmenu-block-top{
    border-bottom: 1px solid #CCCCCC;
    margin-bottom: 20px;
    padding: 0 0 10px;
}
.mtmenu-block-top li,
.mtmenu-block-right li,
.mtmenu-block-bottom li{
    list-style: none;
}
.mtmenu-block-top li a,
.mtmenu-block-right li a,
.mtmenu-block-bottom li a{
    margin: 0 10px;
}
.mtmenu-block-top li a.first,
.mtmenu-block-right li a.first,
.mtmenu-block-bottom li a.first{
    margin-left: 0;
}

/* Itemgrid: different numbers of columns
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
*/
/* Clear every first item in each row (row: group of n items) */

/* Item grid: 1 column */
.itemgrid-1col .item { width:98%; }

/* Item grid: 2 columns */
.itemgrid-2col .item { width:48%; }


/* Item grid: 3 columns */
.itemgrid-3col .item { width:31.333%; }

/* Item grid: 4 columns */
.itemgrid-4col .item { width:23%; }
.itemgrid-4col .item.dop { width:48%; }

/* Item grid: 5 columns */
.itemgrid-5col .item { width:18%; }
.itemgrid-5col .item.dop { width:38%; }

/* Item grid: 6 columns */
.itemgrid-6col .item { width:14.66%; }
.itemgrid-6col .item.dop { width:29.32%; }

/* Item grid: 7 columns */
.itemgrid-7col .item { width:12.286%; }

.itemgrid-2col .item:nth-child(2n+1),
.itemgrid-3col .item:nth-child(3n+1),
.itemgrid-4col .item:nth-child(4n+1),
.itemgrid-5col .item:nth-child(5n+1),
.itemgrid-6col .item:nth-child(6n+1),
.itemgrid-7col .item:nth-child(7n+1){
    clear:both;
    margin-left: 0
}

.itemgrid-2col .item,
.itemgrid-3col .item,
.itemgrid-4col .item,
.itemgrid-5col .item,
.itemgrid-6col .item,
.itemgrid-7col .item{
    margin: 0 1%;
}
.itemgrid .groups.first{ margin-left: 0 }
.itemgrid .groups.last{ margin-right: 0 }



/*Grid column*/
.grid12-12, .grid-full {
    width: 98%;
}
.grid12-1, .grid12-2,
.grid12-3,
.grid12-4, .grid12-5,
.grid12-6, .grid12-7,
.grid12-8, .grid12-9,
.grid12-10, .grid12-11,
.grid12-12, .grid4-1,
.grid4-2, .grid4-3,
.grid2-1, .grid-full,
.grid-col2-sidebar,
.grid-col2-main {
    position: relative;
    display: inline;
    float: left;
    margin-left: 1%;
    margin-right: 1%;
}

/* Grid units */
.grid12-1,
.grid12-2,
.grid12-3,
.grid12-4,
.grid12-5,
.grid12-6,
.grid12-7,
.grid12-8,
.grid12-9,
.grid12-10,
.grid12-11,
.grid12-12,

    /* Deprecated: other grid units */
.grid4-1,
.grid4-2,
.grid4-3,
.grid2-1,

    /* Alias for full-width units */
.grid-full,

    /* Special grid units */
.grid-col2-sidebar,
.grid-col2-main
{
    position:relative;
    display:inline;
    float:left;
    margin-left:1%;
    margin-right:1%;
}

/* Basic grid units width */
.grid12-1	{ width:6.33%; }
.grid12-2	{ width:14.66%; }
.grid12-3,
.grid4-1	{ width:23%; }
.grid12-4	{ width:31.33%; }
.grid12-5	{ width:39.67%; }
.grid12-6,
.grid4-2,
.grid2-1	{ width:48%; }
.grid12-7	{ width:56.33%; }
.grid12-8	{ width:64.67%; }
.grid12-9,
.grid4-3	{ width:73%; }
.grid12-10	{ width:81.33%; }
.grid12-11	{ width:89.67%; }
.grid12-12,
.grid-full	{ width:98%; }